<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission - Carnegie Mellon Action Project</title>
    <link href="https://www.cmu.edu/favicon.ico" rel="icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/faculty.css">

    <!-- JS -->
    <script src="../static/js/script.js" type="module" defer></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body onload="init()">
    <div class="flex-container flex row justify-fs">
        <div class="flex-container flex column justify-fs transition-width">
            <div class="banner onloader" onload="return load('.banner','../components/banner.html').then(res=>{modify_nav()})" delay='0'>
    
            </div>
            <main class="flex flex column">
                <h1 class="content">
                    Carnegie Mellon Action Project Faculty
                </h1>
                <div class="faculty content flex row justify-fs align-items-str wrap">
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/keith.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Keith McDonald
                        </h2>
                        <p>
                            Director for CMU and the Director of Enrollment Planning
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/oliver.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Marion L. Oliver
                        </h2>
                        <p>
                            Director of CMAP
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/ronald.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Ronald Glenn
                        </h2>
                        <p>
                            Associate Director of CMAP
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/connie.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Connie Oliver
                        </h2>
                        <p>
                            Director of Job Placement and Corporate Relations
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/cordell.png" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Cordell Sloan, Jr.
                        </h2>
                        <p>
                            Director of both Alumni Affairs and Research
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/caryl.png" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Caryl Sheffield
                        </h2>
                        <p>
                            Director of Student Services and Counseling
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/doris.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Doris Haines
                        </h2>
                        <p>
                            Administrative Assistant
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/carole.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Carole Cohen
                        </h2>
                        <p>
                            Advisor and Support Services Coordinator
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/harry.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Harry Chmelynski
                        </h2>
                        <p>
                            Physics Instructor and Advisor
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/karolyn.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Karolyn Eisenstein
                        </h2>
                        <p>
                            Senior Lecturer in Chemistry in the August Program
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/helen.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Helen Gold burg
                        </h2>
                        <p>
                            Physics Teacher
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/gwedonlyn.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Gwendolyn Langford
                        </h2>
                        <p>
                            Budgeting and Financial Affairs
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/saida.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Saida Bey
                        </h2>
                        <p>
                            Receptionist
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/carol.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Carol Clark
                        </h2>
                        <p>
                            Secretary to the Director of Student Services and Academic Affairs
                        </p>
                    </div>
                    <div class="card">
                        <div class="photo">
                            <img src="../static/imgs/faculty/evelyn.jpg" alt="Marison_Oliver.jpg">
                        </div>
                        <h2 class="name">
                            Evelyn Johnson
                        </h2>
                        <p>
                            Secretary to the Directors of Enrollment Planning and Corporate Relations
                        </p>
                    </div>
                    <span class="citation">(C-MAP -- Report, 1976-1978, pp. 16-19)</span>
                </div>
            </main>
            <div class="page_bottom onloader" onload="load('.page_bottom','../components/page_bottom.html')">

            </div>
            <footer class="onloader" onload="return load('footer','../components/footer.html')" delay='0'>
    
            </footer>
        </div>
        <aside class="menu onloader" onload="return make_nav('.menu','../components/menu.html')" delay='2'>
            
        </aside>
    </div>
</body>
</html>