<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resources - Carnegie Mellon Action Project</title>
        <link href="https://www.cmu.edu/favicon.ico" rel="icon">
    
        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/resources.css">
    
        <!-- JS -->
        <script src="../static/js/script.js" type="module" defer></script>
    
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
<body onload="init()">
    <div class="flex-container flex row justify-fs">
        <div class="flex-container flex column justify-fs transition-width">
            <div class="banner onloader" onload="return load('.banner','../components/banner.html').then(res=>{modify_nav()})" delay='0'>
    
            </div>
            <main class="flex flex-inherit">
                <h1 class="uppercase content">
                    Carnegie Mellon Action Project Resources
                </h1>
                <article class="intro content active">
                    <section>
                        <div class="body_paragraphs">
                            <p>
                                CMAP Provide various resources for minority students to support their academic life
                                at Carnegie Mellon University 
                            </p>
                            <p>
                                For academic support, we provide students services including tutoring sessions, 
                                awareness sessions, seminars, workshops, 
                                academic counseling sessions and special meetings arranged by the University, 
                                its colleges, and the C-MAP staff. 
                                <span class="citation"> (C-MAP -- Black Students on Campus [DIGITIZED], 1970-1971, p. 43)</span>
                            </p>
                            <p>
                                We also help in connecting students by assigning minority students in the same dormitory area, and
                                our advisors will emotionally care for the students and provide necessary support to them.
                                We believe this can reinforce emotional and academic assistance between minority students.
                                <span class="citation"> (C-MAP -- Black Students on Campus [DIGITIZED], 1970-1971, pp. 4-6)</span>
                            </p>
                            <p>
                                Financially, we offer students scholarships and job opportunities during summer to relief the
                                economy burden of minority students. 
                            </p>
                        </div>
                    </section>
                </article>
                <article class="august_prog content">
                    <h1 class="uppercase">
                        The August Program 
                        <button class="iconfont" onclick="toggle_activity(this.parentNode.parentNode);">
                            &#xe629;
                        </button> 
                    </h1>
                    <section class="flex row justify-spbtw">
                        <div class="body_paragraphs">           
                            <p>
                                The August Program is the first step in CMAP's education program.
                                All CMAP Students are required to take the August Program. 
                                It is an intensive five-week program designed to prepare entering 
                                    freshmen academically for the freshman curriculum at CMU and personally for university life. 
                                After the five weeks, the students will need to continue to attend the supervised studying time
                                    every Sunday evening. 
                            </p>
                            <p>
                                In addition, the August Program is designed to introduce a large group of pre-college 
                                    students to a highly quantitative academic experience at CMU and to introduce them to 
                                    various fields of engineering at an early stage.
                                For pre-college students, the program is only open for juniors and seniors.
                                    <span class="citation"> (Raczkiewicz, 1981)</span>
                            </p>
                            <p>
                                The program provides students valuable training in mathematics, physics and chemistry.
                                This traning is effective proved to be effective in improving students' first years
                                    academic performance.
                            </p>                 
                            <span class="citation">(C-MAP -- Report, 1976-1978, pp. 8-9)</span>
                        </div>
                        <aside>
                            <div class="text_block">
                                <h1>
                                    Pre-College Students Application
                                </h1>
                                <ul>
                                    <li>
                                        <a href="" class="underlined iconfont flex row justify-spbtw">
                                            <span>
                                                Link to Application Portal 
                                            </span>
                                            <span>
                                                &#xe629;
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../static/imgs/august_shedule.png" target="_blank" class="underlined iconfont flex row justify-spbtw">
                                            <span>
                                                View Schedule
                                            </span>
                                            <span>
                                                &#xe629;
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </section>
                </article>
                <article class="advising content">
                    <h1 class="uppercase">
                        Academic Advising and Support
                        <button class="iconfont" onclick="toggle_activity(this.parentNode.parentNode);">
                            &#xe629;
                        </button> 
                    </h1>
                    <section class="flex row justify-spbtw">
                        <div class="body_paragraphs">           
                            <p>
                                CMAP academic advising provides students accurate, up-to-date information 
                                    and guidance which help the students make critical decisions leading 
                                    to their B.S. degrees.        
                            </p>
                            <p>
                                Our advising advisors will regularly contact with students' professors and
                                    other faculty members to keep track of the students.
                                Our counselors will reach out to help the students if there is any difficulty
                                    identified.
                                The counselors can discuss solutions mutually with students covering a wide
                                    range of problems, such as offering tutoring, designing efficient 
                                    study plan, and solving personal problems.
                                Students are also required to meet an CMAP academic counselor at the end of each
                                    semester to review the semester's work and plan for the upcoming semester.
                            </p>
                            <p>
                                Other than the semester checks, we also offer some more frequent, personalized helps to students
                                including one-on-one tutoring, group help sessions, and scheduled help sessions, as follows.
                            </p>
                            <h2>
                                One-on-one Tutoring Session 
                            </h2>
                            <p>
                                One-on-one tutoring session is a bi-weekly hold help session to solve problems reported
                                    by the related professors, staff members, or the student himself prior to the
                                    beginning of the semester. In the session, CMAP has a group of tutors, including
                                    the teachers, staff members, and upper-class CMAP students on call.
                            </p>
                            <h2>
                                Group Help Sessions
                            </h2>
                            <p>
                                Group help sessions is a lecture or study hall set up if several students are having
                                    the same difficulty. In the sessions, our staff will assist the students to solve
                                    the problems they encountered. 
                            </p>
                        </div>
                        <aside>
                            <figure>
                                <img src="../static/imgs/academic_support.jpg" alt="academic_support.jpg">
                            </figure>
                        </aside>
                    </section>
                    <h2>
                        Scheduled Help Sessions
                    </h2>
                    <section class="flex row justify-spbtw">
                        <div class="body_paragraphs">           
                            <p>
                                CMAP offers academic help sessions that can be scheduled by the students to flexibly deal 
                                    with their difficulties in classes that are traditionally challenging. If students have 
                                    any problems regarding these sections, they are welcomed to schedule a help 
                                    session with a CMAP staff member. 
                            </p>
                        </div>
                        <aside>
                            <div class="text_block">
                                <ul>
                                    <li>
                                        <a href="" class="underlined iconfont flex row justify-spbtw">
                                            <span>
                                                Schedule a Help Session
                                            </span>
                                            <span>
                                                &#xe629;
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </section>
                    <span class="citation">(C-MAP -- Report, 1976-1978, p. 10)</span>
                </article>
                <article class="job_placement content">
                    <h1 class="uppercase">
                        Job Placement
                        <button class="iconfont" onclick="toggle_activity(this.parentNode.parentNode);">
                            &#xe629;
                        </button> 
                    </h1>
                    <section class="flex row justify-spbtw">
                        <div class="body_paragraphs">           
                            <p>
                                CMAP helps students to find high-paying summer or permanent employment through its 
                                    special relationships with certain corporations.
                                The job placement opportunity is valuable for students not only because of the payment,
                                    but also because of the experience that benefits the students in long run.
                            </p>
                            <span class="citation">(C-MAP -- Report, 1976-1978, p. 12)</span>
                        </div>
                        <aside>
                            <div class="text_block">
                                <ul>
                                    <li>
                                        <a href="" class="underlined iconfont flex row justify-spbtw">
                                            <span>
                                                See Job Placements
                                            </span>
                                            <span>
                                                &#xe629;
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </section>
                </article>
            </main>
            <div class="page_bottom onloader" onload="load('.page_bottom','../components/page_bottom.html')">

            </div>
            <footer class="onloader" onload="return load('footer','../components/footer.html')" delay='0'>
    
            </footer>
        </div>
        <aside class="menu onloader" onload="return make_nav('.menu','../components/menu.html')" delay='2'>
            
        </aside>
    </div>
</body>
</html>