.banner{
    min-height: fit-content;
}
.banner nav{
    background-color: white;
}
main>h1.content{
    padding-top:1em;
}
article{
    box-sizing: border-box;
    width:100%;
    padding-right: 10.75%;
    padding-bottom: 2em;
}
article section .body_paragraphs{
    width: 60%;
}
article section .body_paragraphs p:first-of-type{
    margin-top: 0;
}
article section aside{
    width: 30%;
}
article section aside figure{
    padding:0;
    margin:0;
}
article section aside img{
    width:100%;
    object-fit: contain;
}
article section aside .text_block{
    background-color: var(--myRed);
    padding: 1.5em;
}
article section aside .text_block h1{
    font-size: 2em;
    padding-bottom: .5em;
}
article section aside .text_block ul{
    padding-left: 0;
    list-style: none;

}
article section aside .text_block ul li{
    display: block;
    border-top: 1px solid hsla(0, 0%, 100%, .5);
    height:fit-content;
}
article section aside .text_block:not(:has(h1)) ul li{
    border-top: none;
}
article section aside .text_block:not(:has(h1)) ul li a{
    padding-top: 0;
}
article section aside .text_block ul li:last-of-type a{
    padding-bottom: 0;
}
article section aside .text_block ul a{
    box-sizing: border-box;
    padding: 1.5em 0;
    height:100%;
    width:100%;
    text-decoration: none;
}
article section aside .text_block *{
    color:white;
}

article h1 button{
    position: relative;
    bottom:.5em;
    padding:.5em 0;
    border:0;
    background-color: transparent;
    transition: transform .3s ease;
}
article.active h1 button{
    transform: rotate(90deg);
}