<div class="banner flex column justify-fs">
    <header class="flex row justify-spbtw align-items-ctr content">
        <a class="wordmark" href="//www.cmu.edu/">Carnegie Mellon University</a>
        <div class="button_group flex row justify-fe align-items-str">
            <form action="https://search.cmu.edu" class="search search-form flex flex-inherit" method="get" name="customForm" data-gtm-form-interact-id="0">
                <input id="id_form_id" name="form_id" type="hidden" value="basic-form">
                <input id="site" name="site" type="hidden" value="">
                <input id="id_ie" name="ie" type="hidden" value="UTF-8">
                <label>
                    <input aria-label="Search" id="id_q" name="q" placeholder="Search">
                </label>              
                <button title="Submit" type="submit">Search</button>
            </form>
            <div class="flex column justify-ctr">
                <button class="open_menu flex column justify-spard align-items-ctr active transition-background-color transition-color" onclick="activate(document.querySelector('.menu'));activate(document.querySelector('footer'));deactivate(this);">
                    <b>—</b>
                    <b>—</b>
                    <b>—</b>
                </button>
            </div>
        </div>
    </header>
    <nav class="content">
        <div class="sitename flex row justify-ctr align-items-ctr content">
            <a href="./index.html" class="subtitle text transition-color transition-background-color">Carnegie Mellon Action Project (CMAP)</a>
        </div>
        <ul class="flex row justify-ctr align-items-ctr">
            <li>
                <a href="./views/admission.html" class="transition-color transition-background-color">Admission</a>
            </li>
            <li>
                <a href="./views/resources.html" class="transition-color transition-background-color">Resources</a>
            </li>
            <li>
                <a href="./views/history.html" class="transition-color transition-background-color">Our History</a>
            </li>
            <li>
                <a href="./views/faculty.html" class="transition-color transition-background-color">Our Faculty</a>
            </li>
        </ul>
    </nav>
</div>