<footer class="content grid">
    <div class="items item1">
        <h1>Important</h1>
        <h2>Warning!</h2>
        <p>This website is not a real official website of the program.
            The website is constructed in order to present the historical significance of CMAP.
        </p>
        &copy; <span>2025</span> Designed and Programmed by Lawrence Song
    </div>
    <div class="items item2">
        <h1>References</h1>
        <p>
            Website Sytle Reference: <a href="https://www.cmu.edu" class="underlined">Carnegie Mellon University</a>
        </p>
        <button class="toggle_citations bright solid-bright transition-color" onclick="toggle_citations();toggle_activity(this)">Inline Citations</button>
        <p class="hanging-indent">
            C-MAP -- Report [DIGITIZED], 1976-1978, Box: 1, Folder: 13. Carnegie Mellon Action Project (C-MAP), Upward Bound, SCOPP Collection, 0000-0009. Carnegie Mellon University Archives.
        </p>
        <p class="hanging-indent">
            C-MAP -- Black Students on Campus [DIGITIZED], 1970-1971, Box: 1, Folder: 11. Carnegie Mellon Action Project (C-MAP), Upward Bound, SCOPP Collection, 0000-0009. Carnegie Mellon University Archives.
        </p>
        <p class="hanging-indent">
            Raczkiewicz, F. (1981, March). Minority Program recruits future engineers. Carnegie-Mellon University Alumni News, 18–19.
        </p>
        <p class="hanging-indent">
            Sanday, R., Johnson, J., Hamilton, H., & Mullins, T. (1968). Carnegie-Mellon Action Program--Report to the faculty.
        </p>
    </div>
    <div class="items item3">
        
    </div>
</footer>